<code>This page will only be shown on DEV server</code>

<p>Useful links</p>

<ul>
    <li><a href="/swagger" target="_blank">Swagger</a></li>
    <li><a href="https://rp-dash-api-int.azurewebsites.net/swagger" target="_blank">Azure INT</a></li>
</ul>